{% extends "::base.html.twig" %}

{% block title %}
  Box Idea - Windoo
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/style.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

	<nav>
        {% block nav %}{% endblock %}
    </nav>

    <div class="container-fluid">
        {% block content %}
            
        {% endblock %}
    </div>

{% endblock %}

{% block javascripts %}
	
  {# {% javascripts 	'@AdminBundle/Resources/public/js/plugin/tinymce/js/langs/fr.js'
  					'@AdminBundle/Resources/public/js/plugin/GEUploader.js'
					'@AdminBundle/Resources/public/js/*' %}

  	<script type="text/javascript" src="{{ asset_url }}"></script>

  {% endjavascripts  %} #}
{% endblock %}