#formIdea {
    max-width: 500px;margin: 15px auto;
}
#formIdea textarea { max-width: 100%; max-height: 300px; }

.container-fluid {
    max-width: 1160px; 
}

.notif-titre
{
	margin: 0 0 5px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.notif
{
	position: relative;
	padding: 25px 30px 25px 100px;
	margin: 0px 0px 10px 0px;
	min-height: 50px;
	line-height: 22px;
	border-radius: 2px;
	font-size: 13px;
	box-shadow: 1px 1px 5px #aaa;
	background-color: #f1f1f1;
	opacity: 0;
	animation: append 0.4s forwards linear;
}
.notif.small
{
    padding: 9px 26px 9px 75px;
    margin: 10px 0px;
    min-height: 70px;
}
.notif.small .notif-icone
{
	top: 17px;
	left: 18px;
	width: 35px;
	height: 35px;
}
@keyframes append
{
	100%
	{
		opacity: 1;
	}
}
.notif-icone
{
	content: '';
    position: absolute;
    top: 25px;
    left: 30px;
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-radius: 25px;
}
.notif-icone:before
{
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	color: white;
}
.notif.valid .notif-icone:before
{
	content: "\f00c";
}
.notif.valid .notif-icone
{
	background: #a7d155;
    border-color: #8fb14f;
}
.notif.error .notif-icone:before
{
	content: "\f00d";
}
.notif.error .notif-icone
{
    background: #e34f4f;
    border-color: #c14343;
}
.notif.information .notif-icone:before
{
	content: "\f129";
}
.notif.information .notif-icone
{
    background: #77abd2;
    border-color: #618bab;
}